/* 
If you can see a peach background, the css file is correctly linked. 
Feel free to change or remove this styling! 
We want you focus A LOT on the styling for this project. 
*/

body {
  background-color: #7e8a97;
  font-family:'Handlee', cursive;
 }

* {
  box-sizing: border-box;
}

form {
 display: flex; 
 text-align: center;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background: #e7dec8; 
 border: 2px solid #30475e;
 border-radius: 4px; 
 max-width: 500px; 
 padding: 20px; 
 margin: 0 auto; 
}

h3 {
  margin-top: 0;
}
  
h2 {
 font-size: 25px;
 margin-top: 0; 
 margin-bottom: 0; 
}

fieldset {
  border: none;
  background: #e7dec8; 
  border-radius: 4px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px; 
  padding: 10px 0px 10px 10px;
  box-shadow: 0 3px 5px 3px rgba(50, 50, 93, 0.15), 0 6px 8px 3px rgba(112, 157, 199, 0.15); 
}

label {
  padding: 5px; 
  text-align: left;
  width: 300px;
}

input {
 margin-top: 5px;
 width: 350px; 
 height: 30px; 
 border: none;
 box-shadow: 0 3px 5px 0 rgba(50, 50, 93, 0.15), 0 6px 8px 0 rgba(112, 157, 199, 0.15); 
}

select {
  width: 350px; 
  height: 30px;
  padding: 0px;
  margin: 0px 0px 5px 0px;
  border: none;
  box-shadow: 0 3px 5px 0 rgba(50, 50, 93, 0.15), 0 6px 8px 0 rgba(112, 157, 199, 0.15); 
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aab7c4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aab7c4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aab7c4;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aab7c4;
}

input:hover {
  border: 1px solid  #30475e;
  border-radius: 4px; 
}

.wrapper-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

.radiobutton-container {
  width: 80px;
  margin: 0;
}


.radiobutton-container {
  display: block;
  position: relative;
  padding-left: 15px;
  margin: 5px 5px; 
  font-size: 14px;
  user-select: none;
}

.radiobutton-container input{
 position: absolute; 
 opacity: 0; 
 cursor: pointer;
 height: 0;
 width: 0; 
}

label.radiobutton-container {
  padding-left: 25px; 
}

.custom-radio {
  position: absolute;
  top:0;
  left: 0;
  height: 19px;
  width: 19px; 
  background-color: #eee;
  cursor: pointer; 
  border-radius: 50%;
}

.radiobutton-container:hover input ~ .custom-radio {
  background-color: #ccc;
}


.radiobutton-container input:checked ~ .custom-radio {
  background-color: #444444;
}

.custom-radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px; 
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  display: none; 
}

.radiobutton-container input:checked ~ .custom-radio:after {
  display: block; 
}

.checkbox-container input {
  position: absolute; 
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 10px 5px 20px 5px;
  width: 400px;
  height: auto;
  font-size: 16px;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  top: o;
  left: 0;
  height: 19px;
  width: 19px; 
  background-color: #eee; 
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-container:hover input ~ .custom-checkbox {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .custom-checkbox {
  background-color: #444444;
}

/** create a ckeckmark: 
  1. ein kleines Quadrat erstellen 
  2. mit weissem rand nur unten und rechts
  3. quadrat verschieben mit abstand von rechts und oben
  4. drehen 
  5. 
  **/

.custom-checkbox:after {
  content: "";
  position: absolute; 
  width: 3px;
  height: 6px; 
  border: solid white;
  border-width: 0 3px 3px 0;
  top: 5px;
  left: 7px; 
  transform: rotate(45deg); 
  display: none;
}

.checkbox-container input:checked ~ .custom-checkbox:after {
  display: block; 
}

.checkbox-container input:focus ~ .custom-checkbox {
  outline: #333 auto 4px;
}

button {
  width: 200px;
  height: 30px;
  align-self: center;
  border-radius: 5px; 
  background-color: #cbaf87;
  text-transform: uppercase;
  margin-bottom: 10px;
}

button:hover {
  background-color: darkolivegreen;
}

/** add validation later**/

/** add media queries later on **/ 

